In [5]:

from datetime import datetime
# import fix_yahoo_finance as yf
import yfinance as yf

In [6]:
start='2020-01-11'
end='2022-01-11'

In [7]:
# yf.pdr_override()
df = yf.download('DIS',  start=start, end=end)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-13,144.750000,144.750000,143.360001,143.880005,142.754013,9921300
2020-01-14,143.410004,146.720001,142.289993,145.199997,144.063675,14839100
2020-01-15,145.710007,145.710007,143.929993,144.320007,143.190567,6818200
2020-01-16,145.089996,145.429993,144.440002,145.119995,143.984314,6948400
2020-01-17,145.539993,145.639999,144.009995,144.330002,143.200485,10355300
...,...,...,...,...,...,...
2022-01-04,158.589996,160.320007,155.550003,155.729996,154.511261,16582000
2022-01-05,156.520004,159.380005,155.100006,155.190002,153.975510,12272100
2022-01-06,156.240005,157.770004,153.679993,156.899994,155.672104,11095300
2022-01-07,156.899994,159.300003,156.289993,157.830002,156.594833,9554600
2022-01-10,157.979996,158.270004,154.649994,156.600006,155.374481,8672900